<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <!-- 일반 파일 업로드 -->
    <body>
        <form method="POST" enctype="multipart/form-data" action="./upload">
            <input type="file" name="userfile" />
            <input type="submit" value="전송하기" />
        </form>

        <br />
        <hr />
        <br />

        <form
            method="POST"
            enctype="multipart/form-data"
            action="./upload-multiple"
        >
            <input type="file" name="many" multiple />
            <input type="file" name="many" multiple />
            <input type="submit" value="전송하기" />

            <br />
            <hr />
            <br />

		<form method="POST" enctype="multipart/form-data" action="./upload-multiple-fields">
			<input type="file" name="file1">
			<input type="file" name="file2">
			<input type="text" name="title">
			<input type="submit" value="전송하기">

            <br />
            <hr />
            <br />

			<a href="/download">download</a>
			<a href="/download-multiple">download</a>
		</form>
    </body>
</html>
