<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!-- 문제 1번 -->
        <% for(let i = 0; i < locals.data.length; ++i) {%> <%=(locals.data[i] *
        3);%> <%}%> <% const dataArray = [{id:1, text:"데이터 1입니다."}, {id:2,
        text:"데이터 2입니다."}] %> <% dataArray.forEach(element=>{%>
        <div>
            <span> id : <%=element.id%> -> </span>
            <span> <%=element.text%> </span>
        </div>
        <%})%>
    </body>
</html>
